@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
body {
    margin: 0;
    padding: 0;
    background-color: black;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font: normal bold 6.5rem / 1.2 'Poppins', 'Helvetica', sans-serif;
    text-align: center;
}

.text{
    position:absolute;
    top:50px;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: -100%;
    animation: animate 30s linear infinite;
}


.pos1{
    position: absolute;
    left: 0px;
    top: -50px;
}
.pos2{
    position: absolute;
    left: 300px;
    top: -50px;
}
.pos3{
    position: absolute;
    left: 600px;
    top: -50px;
}
.pos4{
    position: absolute;
    left: 900px;
    top: -50px;
}
.block {
    position: absolute;
    left: 100px;
    top: 50px;
    margin: 10% auto 0;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}
.block img{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 190px;
    height: 190px;
}
.block2 {
    position: absolute;
    left: 400px;
    top: 50px;
    margin: 10% auto 0;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}
.block2 img{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 190px;
    height: 190px;
    cursor: pointer;
}
.block3 {
    position: absolute;
    left: 700px;
    top: 50px;
    margin: 10% auto 0;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}
.block3 img{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 190px;
    height: 190px;
    cursor: pointer;
}
.block4 {
    position: absolute;
    left: 1000px;
    top: 50px;
    margin: 10% auto 0;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}
.block4 img{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 190px;
    height: 190px;
    cursor: pointer;
}
.glow::before,
.glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glow::after {
    filter: blur(30px);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

a{
    display:flex;
    justify-content: center;
    position:absolute;
    left: 120px;
    top: 490px;
    width: 160px;
    height:50px;
    Line-height: 48px;    
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);

}

a span{
    position: absolute;
    display: block;
    top:1px;
    Left:1px;
    right: 1px;
    bottom:1px;
    text-align: center;
    background: #0c0c0c;
    color: rgba(255,255,255,0.2);
    transition: 0.5s;
    z-index:1;
}
a:hover span{
    color:rgba(255,255,255,1);
}
a span::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:50%;
    background: rgba(255,255,255,0.1);

}

a::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094,#00f, #0f0,
    #ff0,#f00,#fb0094,#00f,#0f0,#ff0,#f00);
    background-size: 400% ;
    opacity:0;
    transition: 0.5s;
}
a:hover::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094,#00f, #0f0,
    #ff0,#f00,#fb0094,#00f,#0f0,#ff0,#f00);
    background-size: 400% ;
    opacity:0;
    filter: blur(20px);
    transition: 0.5s;
}

a:hover::before,
a:hover::after{
    opacity: 1;

}


